.wrapper {
	background-color: #f0f0f0;
	width: 100vw;
	min-height: 100vh;
	.content {
		padding-top: 50px;
		padding-bottom: 138px;
		h1 {
			font-size: 50px;
			@media (max-width: 1200px) {
				font-size: 30px;
			}
			margin-bottom: 20px;
		}
		.item {
			margin-top: 10px;
			column-rule: 2;
			padding: 20px;
			border-radius: 10px;
			background-color: #ffff;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			.line {
				background-color: #eaeaea;
				width: 100%;
				height: 1px;
			}
			.width {
				width: 100%;
			}
			p {
				width: 100%;
				font-size: 16px;
				color: #121212;
			}
			a {
				color: #2078a5;
				// border-bottom: 1.5px solid #2078a5;
				text-decoration: underline;
			}
		}
	}
}
