.button {
  padding: 10px 24px;
	@media (max-width: 1200px) {
		padding: 10px 10px;
	}
  background: #fdaf39;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #121212;
  cursor: pointer;
}
