.wrapper {
	background-color: #6d767d;
	width: 100vw;
	min-height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	.content {
		width: 100%;
		@media (max-width: 1200px) {
			padding: 10px 0px;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.logo {
		height: 80px;
		display: flex;
		align-items: center;
		gap: 10px;
		.title {
			display: flex;
			align-items: center;
			gap: 5px;
		}
	}
	.post {
		display: flex;
		align-items: center;
		gap: 5px;
		p {
			font-size: 24px;
		}
		span {
			font-size: 16px;
		}
	}
	.links {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		a {
			display: flex;
			align-items: center;
			cursor: pointer;
		}
		@media (max-width: 1200px) {
		}
	}
}
